@color_body     : #fff;
@fuente_body    : 'Ubuntu',Tahoma,sans-serif;
@tam_fuente     : small;

body{
	background  : @color_body;
        font-family : @fuente_body;
        font-size   : @tam_fuente;
}

table {
        font-family     : @fuente_body;
        font-size       : @tam_fuente;
        max-width       : 100%;
        background-color: transparent;
        border-collapse : collapse;
        border-spacing  : 0;
}

table tr td {
	background      : #fff;
	padding         : 1px;
	text-align      : left;
	vertical-align  : top;
	border          : 1px solid #ddd;
}

input{
    
}

.tb_ordenar { 
    width : 100%; 
}

.info_socio {
    input {
            border : none;
          }
    td    {
            width       : 6%;
          }   
}